.App {
  margin-top: 15px;
}

.container {
  font-family: cursive;
  color: pink;
  text-align: center;
}

.App-header {
  font-size: 48px;
  margin-bottom: 30px;
}

.GitHub-link {
  text-align: center;
  margin: 30px 0;
}
