h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

section {
  background: #f7f2ca;
  border: 2px solid #5846a3;
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 4px 2px;
  color: #7c67d1;
  border: 1px solid #7c67d1;
}

.hint {
  margin-top: 5px;
}
