h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

section {
  background: pink;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.7);
  margin: 20px 0;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 4px 2px;
  color: #c9356c;
  border: 1px solid #c9356c;
}

.hint {
  margin-top: 5px;
}
