.Phonetics {
  margin: 20px 0;
}

.Phonetics a {
  border: 1px solid #7c67d1;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background: #7f86d3;
  color: #f7f2ca;
}
